body{ 
  background-color: #422815;
    margin: 0;
    padding: 0;
}

/* title card start */
.hero-text {
    text-align: center;
    color: black ;
    font-size: 100px;
    text-shadow: 10px;
}
.catchphrase {
  font-size: 16px;
  color: #b8956a;
  font-family: 'Arial', sans-serif;
  position: relative;
  z-index: 1;
}
.title-dark {
  color: #d4872b;
  font-style: italic;
  font-size: 100px;
  text-shadow: 
    -2px -2px 0 #ff0000,
    2px -2px 0 #ffa500,
    -2px 2px 0 #ffee00,
    2px 2px 0 #ff0000;
}
.main-title {
  font-size: 72px;
  color: white;
  margin: 0 0 20px 0;   
  position: relative;
  z-index: 1; 
  font-weight: bold;
}
.title-card {
  position: relative;
  background-color: #2b1a0e;
  padding: 80px 40px;
  text-align: center;
  overflow: hidden;
  font-family: 'Georgia', serif;
}
/* Title end */
/* Laksa section */
.laksa-column {
    margin-top: 1px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: start;
    background-color: #2b1a0e;
}
.laksa-column .image {
    width: 80%;       /* fill the first column */
    margin-left: 100px;
    margin-top: 20px;
}
img {
    width: 100%;       /* or a fixed size, but 100% of its container */
    height: auto;
}
.info p{
    font-size: 40px;
    color: #C4B090;  
}
.info h1{
  font-size: 67px;
  color: white;


/* spice bar */
}.spice {
  width: 465px;
  margin-left: auto;
  margin-right: -550px;
  margin-top: -30px;
}
.title {
  display: flex;
  justify-content: space-between;
  color: #c4b090;
  font-size: 12px;
  letter-spacing: 2px;
}

.title b {
  color: #ff751f;
}

.bar {
  height: 12px;
  background: #2b1a14;
  border-radius: 10px;
  margin-top: 12px;
}

.fill {
  width: 80%;
  height: 100%;
  background: #ff8738;
  border-radius: 10px;
}

.chillies {
  margin-top: 12px;
  font-size: 16px;
  letter-spacing: 5px;
}